<!DOCTYPE html>
<html>
  <head>
    <title>studybolg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__title">
         <%= link_to "StudyBolg", posts_path, class: "header__title--text" %>
      </div>

      <div class= "header__top">
        <div class= "header__top--logo">
          <%= link_to "ホーム", "/" %>
        </div>
      </div>

      <%= form_with(url: posts_searches_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "タイトル検索", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>


      <div class="header__right">
        <% if user_signed_in?%>
          <%= link_to current_user.nickname, user_path(current_user), class: "header__right--btn" %>
          <%= link_to new_post_path, class:"header__right--btn" do%>
            <i class="fas fa-quidditch "></i>新規投稿
          <% end %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"header__right--btn"%>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "header__right--btn"%>
          <%= link_to "新規登録", new_user_registration_path, class: "header__right--btn" %>
        <% end %>
      </div>

    </header>
    <div class="contents">
      <%= yield %>
    </div>
    <footer>
      <div class="content">
        <div class = "st-Footer_start">
          <div class="st-Footer_start_logo">StudyBolg</div>
          <div class="footer-list">
            <ul>
              <li>会社概要</li>
              <li>採用</li>
              <li>お問い合わせ</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>